# MinerU
MINERU_API_KEY=your-minerU-apikey

# 模型供应商
LLM_API_KEY=your-model-api-key
LLM_URL=https://api.siliconflow.cn/v1
METHOD_MODEL=Pro/zai-org/GLM-5
RERANK_MODEL=Qwen/Qwen3-Reranker-8B

# embedding服务
#EMBEDDING_URL=your-embedding_url
#EMBEDDING_API=your-embedding-api-key
#EMBEDDING_MODEL=qwen-3

# 底稿样例数据库
DATABASE_HOST=
DATABASE_PORT=
DATABASE_DBNAME=
DATABASE_USER=
DATABASE_PASSWORD=
